@font-face {
  font-family: swFont;
  src: url(./assets/fonts/SansationLight/SansationLight.woff);
}

* {
  font-family: swFont;
}

.App {
  text-align: center;
}
#App {
  padding: 65px;
  background:black;
  height:100vh;
}

.App-logo {
  animation: App-logo-flash infinite 2s linear;
  height: 40vmin;
  pointer-events: none;
}

.loaderLogo {
  position: absolute;
  height: 50%;
  width: 50%;
  left :360px;
  justify-content:center;
  align-items:center;
  margin:auto;
  z-index:999;
  background:inherit;
}
.loaderText{
  background:inherit;
  color:grey;
  position:relative;
}
.loaderContainer{
padding-top:120px ;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height:5px;
  background:black; 

}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0 31 255 / 45%);  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:black; 
}
.bg {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.banner{
  position: absolute;
  height: 78%;
  width: 55%;
  left :360px;
  top :-30px;

}
.lsideSaber{
  left:14px ;
  top:24px;
  position:fixed;
  height:100%;
  width :28%;
 }
.rsideSaber{
  right:0 ;
  top:0;
  position:fixed;
  height:100%;
  width:28%;
  z-index:0;
 }
.mSaber{
  left:62px;
  top:0;
  position:fixed;
  height:100%;
  width :85%;
 }

.w3-top{
  position: relative;
   width: 55%; 
  /* float: left; */
  z-index:1;
}

.w3-bar-item{
  margin :0px 12px
}
.nav{
  top:5px;
  left:0px;
  position:absolute;
  z-index: 1;
  width: 100vw; 
  /*background-color: red;*/
  height:50px;
  /* overflow:hidden; */
  /* float:right */
  display: flex;
}
nav ul{
  display: inline-flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: center;
  margin:0px 0px auto!important
}

.searchBtn{
  top:5px;
  padding:0px 15px;
  border-radius:25px;
  height: 40px;
  width: 300px;
  background:inherit;
  border :2px solid cyan;
  color:cyan;
  font-weight:700;
  z-index:1;
}

.avi{
  height: 100%;
  width: 60%;
  border-radius: 5px;
}

.profavi {
  height: 100%;
  width: 75%;
  border:1px solid cyan!important;
  border-radius: 5px;
}
.details{
  background-color: rgba(0,0,0,0.86);
  margin:auto
}

#modal{
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 25%;
  font-weight: 600;
  border-radius: 10px;
  padding: 25px 10px;
  background-color: rgba(0,0,0,0.99);
  color: cyan;
}

#profilemodal{
    position:relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-weight: 600;
    border-radius: 10px;
    padding: 30px;
    background-color: rgba(0,0,0,0.99);
    color: cyan;
    width: 100vw;
}

.detailBox{
    display: flex;
    padding: 10px 0px;
    grid-gap: 10px;
}

.w3-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.w3-profmodal {
  padding-top: 50px!important;
  background-color: rgba(0,0,0,0.99)!important;
}
.w3-bordered tr, .w3-table-all tr {
  border-bottom: 1px solid cyan!important;
}
.w3-table-all{
  border:1px solid cyan!important;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: sticky;
    z-index: 999;
    list-style-type: none;
}

.paginationItem {
  background: #fff;
  border: 2px solid #666;
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background:inherit;
  border-radius: 50%;
  padding: 10px;
  font-weight: 800;
  color: rgb(0, 255, 255);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.4);
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem.active {
  background:rgba(0, 0, 0, 0.9);
  border: 2px solid cyan;
  color: rgb(0, 255, 255);
  font-weight:700;
  cursor: pointer;
  pointer-events: none;
}

.paginationItem {
  background:rgba(0, 0, 0, 0.65);
  border: 1px solid #888;
  color: cyan;
  font-weight:700;
  cursor: pointer;
 
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}


.container{
  right:0;
  top:0;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  position:relative;
  padding : 0px 15px 14px 15px;
  z-index: 0;
  justify-content:center;
}


@keyframes App-logo-flash {
  from {
    opacity:0.4;
  }
  to {
    opacity:1;
  }
}
