.planetDetails{
    float: right;
    font-size: smaller;
    display: inline-grid;
}
.planetImg{
    height:100px;
    width:100px
}
.filmImg{
    height:70px;
    width:70px
}

.filmContainer{
    display: inline-flex;
    column-gap: 10px;
    font-size: x-small;
    padding: 10px 0px;
    overflow: hidden;
    overflow-x: scroll;
}
.planetContainer{
    padding: 10px 0px;
}